<div id="game">
	<div class="toprow">
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="clear"></div>
	</div>
	<div class="board">
		<div class="leftcol">
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		</div>
		<div class="gameboard"></div>
		<div class="rightcol">
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="bottomrow">
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="clear"></div>
	</div>
</div>