<div id="game">
	<div class="toprow">
		<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile pump"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile twenty"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile shoe"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile pump"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile twenty"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile shoe"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="clear"></div>
	</div>
	<div class="board">
		<div class="leftcol">
			<div class="tile shoe"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile pump"><img src="/assets/grid_twenty.jpg" /></div>
		</div>
		<div class="gameboard">
			<div class="contain">
				<h1>Pump Your Luck</h1>
				<div class="go">
					<h3>Go!</h3>
					<div class="playbtn"><div class="arrow-right"></div></div>
				</div>
			</div>
		</div>
		<div class="rightcol">
			<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile twenty"><img src="/assets/grid_twenty.jpg" /></div>
			<div class="tile pump"><img src="/assets/grid_twenty.jpg" /></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="bottomrow">
		<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile twenty"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile shoe"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile twenty"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile shoe"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile pump"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile whammy"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="tile reebok"><img src="/assets/grid_twenty.jpg" /></div>
		<div class="clear"></div>
	</div>
</div>


<script>
	$(document).ready(function() {
		$('.gameboard').on("click", function() {

		})

	});
</script>