// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#game {
	position: absolute;
	top: 0;
	left: 6em;
	right: 6em;
	bottom: 0;
	margin: auto;

	.board, .toprow, .bottomrow {
		width: 100%;
		position: relative;
	}
}

.tile {
	width: 9%;
	margin: 0 .5% 1% .5%;
	float: left;
}

.whammy {
	background: url('/assets/grid_whammy.jpg');
	background-size: contain;
	background-position: center;
}

.shoe {
	background: url('/assets/grid_shoe.jpg');
	background-size: contain;
	background-position: center;
}

.pump {
	background: url('/assets/grid_pump.jpg');
	background-size: contain;
	background-position: center;
}

.twenty {
	background: url('/assets/grid_twenty.jpg');
	background-size: contain;
	background-position: center;
}

.reebok {
	background: url('/assets/grid_reebok.jpg');
	background-size: contain;
	background-position: center;
}

.tile:last-child {

}

.tile img {
	width: 100%;
	opacity: 0;
}

.leftcol {
	position: relative;
	width: 10%;
	display: block;
	float: left;
}

.rightcol {
	position: relative;
	width: 10%;
	display: block;
	float: right;
}

.leftcol .tile, .rightcol .tile {
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 1em;
	display: block;
}

.leftcol .tile:last-child, .rightcol .tile:last-child {
	margin-bottom: 0;
}

.board {
	margin-bottom: 1em;
}

.gameboard {
	position: absolute;
	width: 79%;
	left: 10.5%;
	height: 100%;
	float: left;
	background: #000;
	padding: 1.5em;
	box-sizing: border-box;
}

.gameboard 	.contain {
	position: absolute;
	width: 95%;
	height: 90%;
	left: 2.5%;
	top: 5%;
	border: 2px solid #fff;
	text-align: center;
}

.slide-1, .slide-2, .slide-3, .slide-4 {
	position: relative;
}

.slide-1 {
	z-index: 500;
}

.slide-2 {
	z-index: 450;
}

.slide-3 {
	z-index: 400;
}

.slide-4 {
	z-index: 350;
}

.gameboard .slide-2, .gameboard .slide-3, .gameboard .slide-4 {
	opacity: 0;
}

.slide-3 p {
	margin: 0;
}

.slide-4 .pump-button {
	display: block;
	width: 30%;
	margin: auto;
	cursor: pointer;
}

.slide-4 .pump-button img {
	width: 100%;
}

.gameboard .contain h1 {
	color: #fff;
	font-size: 6em;
	width: 40%;
	margin: auto;
}

.gameboard .contain h1, .gameboard .contain h2, .gameboard .contain h3, .gameboard .contain p {
	color: #fff;
}

.gameboard .contain h2 {
	font-size: 4em;
	color: #fff;
	margin-bottom: .5em;
}

.gameboard .contain h3 {
	font-family: 'Arial', sans-serif;
	font-size: 2em;
	margin-bottom: 0;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: normal;
}

.gameboard .contain .go {
	position: absolute;
	right: 3em;
	bottom: 3em;
	cursor: pointer;
}

.gameboard .contain .go .title {
	color: #fff;
	margin: 0;
	text-transform: uppercase;
}

.email-grab {

}

.email-grab .email-input {
	width: 65%;
	border-radius: 0;
	font-size: 1em;
	padding: .5em .75em;
	text-transform: uppercase;
}

.email-grab .button {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	font-size: 1em;
	padding: .5em .75em;
	margin-left: 1em;
	text-transform: uppercase;
	cursor: pointer;
}

.gameboard .contain .go .playbtn {
	padding: 1em;
	margin-top: 1.5em;
	border: 4px solid #fff;
	border-radius: 5em;
	display: block;
	width: 5em;
	height: 5em;
	text-align: center;
}

.gameboard .contain .go .playbtn .arrow-right {
	width: 0; 
	height: 0; 
	margin-top: .75em;
	margin-left: 1.6em;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 40px solid #fff;
}

#game.variant-one .whammy {
	background: url('/assets/grid_shoe.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-one .shoe {
	background: url('/assets/grid_pump.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-one .pump {
	background: url('/assets/grid_reebok.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-one .twenty {
	background: url('/assets/grid_whammy.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-one .reebok {
	background: url('/assets/grid_twenty.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-two .whammy {
	background: url('/assets/grid_pump.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-two .shoe {
	background: url('/assets/grid_whammy.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-two .pump {
	background: url('/assets/grid_twenty.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-two .twenty {
	background: url('/assets/grid_reebok.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-two .reebok {
	background: url('/assets/grid_shoe.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-three .whammy {
	background: url('/assets/grid_reebok.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-three .shoe {
	background: url('/assets/grid_twenty.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-three .pump {
	background: url('/assets/grid_whammy.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-three .twenty {
	background: url('/assets/grid_shoe.jpg');
	background-size: contain;
	background-position: center;
}

#game.variant-three .reebok {
	background: url('/assets/grid_pump.jpg');
	background-size: contain;
	background-position: center;
}

#game.pumped .tile {
	
}

.clear {
	clear: both;
}
